body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
     
  }
  
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .headline {
    color: #000000;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .content {
    margin-bottom: 20px;
    color: #000000;
  }
  
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .image-container {
    margin: 10px;
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .images p {
    color: #000000;
    margin-top: 10px;
  }
  
  .download {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 768px) {
    .images {
      flex-direction: column;
    }
  }
  