<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Calculate SWI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}" />
  </head>
  <body>
    <div class="navbar">
      <h1 class="navbar-title">Te-LEWS | Calculate SWI for specific region</h1>
      <a href="/" class="navbar-button">Home</a>
    </div>

    <div class="container">
      <form
        method="POST"
        action="{{ url_for('calculate_swi') }}"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="date">Date:</label>
          <input
            type="date"
            id="date"
            name="date"
            min="2013-06-10"
            max="2013-06-19"
          />
        </div>

        <div class="form-group">
          <label for="hour">Hour:</label>
          <select id="hour" name="hour">
            <option value="0">12 AM</option>
            <option value="1">1 AM</option>
            <option value="2">2 AM</option>
            <option value="3">3 AM</option>
            <option value="4">4 AM</option>
            <option value="5">5 AM</option>
            <option value="6">6 AM</option>
            <option value="7">7 AM</option>
            <option value="8">8 AM</option>
            <option value="9">9 AM</option>
            <option value="10">10 AM</option>
            <option value="11">11 AM</option>
            <option value="12">12 PM</option>
            <option value="13">1 PM</option>
            <option value="14">2 PM</option>
            <option value="15">3 PM</option>
            <option value="16">4 PM</option>
            <option value="17">5 PM</option>
            <option value="18">6 PM</option>
            <option value="19">7 PM</option>
            <option value="20">8 PM</option>
            <option value="21">9 PM</option>
            <option value="22">10 PM</option>
            <option value="23">11 PM</option>
          </select>
        </div>

        <div class="form-group">
          <input type="checkbox" id="checkbox" name="checkbox" />
          <label for="checkbox">You have a shape file</label>
        </div>

        <div class="form-group" id="shapefile-group" style="display: none">
          <label for="shapefile">Upload Shapefile:</label>
          <input type="file" name="shape_zip" accept=".zip" id="shapefile" />
        </div>

        <div class="form-group">
          <input type="submit" value="Calculate" class="button" />
        </div>
      </form>
    </div>

    <script>
      const checkbox = document.getElementById("checkbox");
      const shapefileGroup = document.getElementById("shapefile-group");
      const shapefile = document.getElementById("shapefile");

      checkbox.addEventListener("change", function () {
        if (this.checked) {
          shapefileGroup.style.display = "block";
          shapefile.setAttribute("required", "required");
        } else {
          shapefileGroup.style.display = "none";
          shapefile.removeAttribute("required");
        }
      });
    </script>
  </body>
</html>
